*{
			padding: 0;marign:0;
		}
		ul,li{
			list-style-type: none;
		}
		.main{
			width:1000px;
			min-height: 600px;
			margin: auto;
		}
		.mleft{
			float: left;
			width:200px;
			min-height: 600px;
			border:1px solid #ddd;
		}
		.mleft li{
			height:40px;
			line-height: 40px;
			padding-left:15px;
			border-bottom:1px solid #ddd;
		}
		.mright{
			float: right;
			width:700px;
		}